h3 My profile
    small &nbsp;

.container-fluid(ng-controller='UsersCtrl as ctrl')
    .row
        .col-md-4
            .panel.panel-default
                .panel-body.text-center
                    #user-profile-change.profile-user
                        .user-block-picture
                            .user-img.center.clickable(ng-click="ctrl.changePicture()")
                                img.img-thumbnail(ng-src="{{user.picture}}", alt="{{user.name}}")
                                md-tooltip(md-direction="top") Change Picture
                            #change-country.user-flag(ng-click="ctrl.changeCountry()")
                                img(ng-src="{{user.address.country.flag}}", alt="{{user.address.country.name}}")
                                md-tooltip(md-direction="right") Change Country

                        form#change-country-form(name='countryForm', ng-submit="user.address.geocoder_address = null; ctrl.updateUser()", style="display: none; margin-top: 20px;")
                            md-input-container(ng-class="{'md-input-invalid': ctrl.errors.country}", style="width: 40%;")
                                label Select your country
                                md-select(ng-model="ctrl.user.address.country.code", required, md-on-close="user.address.geocoder_address = null; ctrl.updateUser()", md-no-asterisk="true")
                                    md-option(ng-value="country.code" ng-repeat="country in constants.countries")
                                        img(ng-src="{{ country.flag }}" alt="Ireland" style="height: 24px")
                                        span {{ country.name }}

                    h3.m0.text-bold {{ user.first_name }} {{ user.last_name }}
                    .mv-lg
                        user-ratings(user="user")

                .panel-body.bt.text-center
                    .row
                        .col-xs-4.br
                            em.fa.fa-thumbs-up.fa-fw.text-success
                            strong +{{ user.succeeded_swaps_count }}
                            md-tooltip(md-direction="top") Succeeded swaps
                        .col-xs-4.br
                            em.fa.fa-thumbs-down.fa-fw.text-danger
                            strong +{{ user.failed_swaps_count }}
                            md-tooltip(md-direction="top") Failed swaps
                        .col-xs-4
                            em.fa.fa-clock-o.fa-fw.text-warning
                            strong +{{ user.expired_swaps_count }}
                            md-tooltip(md-direction="top") Expired swaps


            .panel.panel-default.hidden-xs.hidden-sm
                .panel-heading
                    .panel-title Map
                .panel-body
                    .media(ng-if="!user.hasAddress()")
                        p No address has been provided yet
                    .media
                        .gmap(ui-map='ctrl.userMap', ui-options='ctrl.userMapOptions', class="map-canvas")

        .col-md-8
            .card
                .card-heading.bg-primary
                    .ball-pulse.profile-loading(style="float: right; margin-top: 5px; display: none;")
                        div(style="background-color: #fff;")
                        div(style="background-color: #fff;")
                        div(style="background-color: #fff;")
                    .card-title Profile form
                .card-body
                    div.alert.alert-warning(ng-if="ctrl.user.isCountrySupported() && !ctrl.user.isProfileComplete() || (ctrl.user.isProfileComplete() && ctrl.tour && ctrl.saving)")
                        span Please complete the form below
                    div.alert.alert-warning(ng-if="!ctrl.user.isCountrySupported()")
                        span You must provide your country on the left before completing your profile data.
                    form(name='profileForm', ng-submit="ctrl.updateUser()")
                        div#profile-form
                            div(layout='', layout-sm='column')
                                md-input-container(flex='', ng-class="{'md-input-invalid': ctrl.errors.first_name}")
                                    label First Name
                                    input(ng-model='ctrl.user.first_name', required, ng-change="ctrl.updateUser()" ng-model-options="{updateOn: 'blur'}" ng-disabled="!ctrl.user.isCountrySupported()")
                                    .md-errors-spacer(ng-repeat="error in ctrl.errors.first_name")
                                        .md-char-counter {{error}}
                                md-input-container(flex='', ng-class="{'md-input-invalid': ctrl.errors.last_name}")
                                    label Last Name
                                    input(ng-model='ctrl.user.last_name', required, ng-change="ctrl.updateUser()" ng-model-options="{updateOn: 'blur'}" ng-disabled="!ctrl.user.isCountrySupported()")
                                    .md-errors-spacer(ng-repeat="error in ctrl.errors.last_name")
                                        .md-char-counter {{error}}
                                md-input-container(flex='15', ng-class="{'md-input-invalid': ctrl.errors.gender}")
                                    label Gender
                                    md-select(ng-model="ctrl.user.gender", ng-change="ctrl.updateUser()" ng-disabled="!ctrl.user.isCountrySupported()")
                                        md-option(ng-value="gender.id", ng-repeat="gender in ctrl.genderOptions") {{gender.label}}
                                    .md-errors-spacer(ng-repeat="error in ctrl.errors.gender")
                                        .md-char-counter {{error}}
                            div(layout='', layout-sm='column')
                                md-input-container(flex='', ng-class="{'md-input-invalid': ctrl.errors.email}")
                                    label Email
                                    input(ng-model='ctrl.user.email', required, ng-change="ctrl.updateUser()" ng-model-options="{updateOn: 'blur'}" ng-disabled="!ctrl.user.isCountrySupported()")
                                    .md-errors-spacer(ng-repeat="error in ctrl.errors.email")
                                        .md-char-counter {{error}}
                                div(style="height: 24px; margin: 24px 10px 14px 0;")
                                    img(ng-src="{{ ctrl.user.address.country.flag }}" alt="{{ ctrl.user.address.country.name }}" style="height: 24px")
                                    span +{{ ctrl.user.address.country.phone_code }}
                                md-input-container(flex='', ng-class="{'md-input-invalid': ctrl.errors.phone1}")
                                    label Phone 1
                                    input(ng-model='ctrl.user.phone1', required, ng-change="ctrl.updateUser()" ng-model-options="{updateOn: 'blur'}" ng-disabled="!ctrl.user.isCountrySupported()")
                                    .md-errors-spacer(ng-repeat="error in ctrl.errors.phone1")
                                        .md-char-counter {{error}}
                        div#address-form
                            div(layout='', layout-sm='column')
                                input(ng-model='ctrl.user.address.geocoder_address', type="hidden", required, ng-disabled="!ctrl.user.isCountrySupported()")
                                md-input-container(flex='', ng-class="{'md-input-invalid': ctrl.errors.address.geocoder_address || ctrl.errors.addressGlobal}")
                                    label Address
                                    md-autocomplete(md-no-cache='ctrl.noCache',
                                                    md-selected-item-change="ctrl.user.address.geocoder_address = ctrl.searchText; ctrl.updateUser(true);"
                                                    md-require-match=true,
                                                    md-items='item in ctrl.queryAddress(ctrl.searchText)',
                                                    md-search-text='ctrl.searchText',
                                                    md-item-text='item.display',
                                                    placeholder='Place your address here...',
                                                    md-min-length="3",
                                                    md-delay="200",
                                                    md-autoselect="true",
                                                    ng-disabled="!ctrl.user.isCountrySupported()",
                                                    required)
                                        span(md-highlight-text='ctrl.searchText') {{item.display}}

                                    .md-errors-spacer(ng-repeat="error in ctrl.errors.address.geocoder_address")
                                        .md-char-counter {{error}}
                                    .md-errors-spacer(ng-repeat="error in ctrl.errors.addressGlobal")
                                        .md-char-counter {{error}}

                        input(type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;")

                        //div(layout='', layout-sm='column')
                        //    md-input-container(flex='')
                        //        //md-button.md-raised.md-primary.md-ink-ripple(type="submit" ng-transclude="" aria-label="Save")
                        //        button.mb-sm.btn.btn-primary(type="submit" aria-label="Save")
                        //            span.ng-scope Save
                        //            .md-ripple-container

            .card
                .card-heading.bg-primary
                    .ball-pulse.profile-settings-loading(style="float: right; margin-top: 5px; display: none;")
                        div(style="background-color: #fff;")
                        div(style="background-color: #fff;")
                        div(style="background-color: #fff;")
                    .card-title General settings
                .card-body
                    div(layout='', layout-sm='column')
                        md-input-container(flex='')
                            md-radio-group(ng-model='ctrl.user.distance_unit' ng-required="true" name="distance_unit" ng-change="ctrl.updateUser(false, true)")
                                div(layout="row")
                                    label Preferred distance unit
                                div(layout="row" style="margin-top: 30px")
                                    div(flex="30")
                                        md-radio-button(ng-value="'mi'") Miles
                                    div(flex="30")
                                        md-radio-button(ng-value="'km'") Kilometers

                    div(layout='', layout-sm='column')
                        md-input-container(flex='')
                            md-checkbox(ng-model="ctrl.user.show_full_address_allowed" aria-label="Allow my full address to be visible to a user when a swap request is agreed between parties" ng-change="ctrl.updateUser(false, true)")
                                span Allow my full address to be visible to a user when a swap request is agreed between parties
                                br
                                span(style="color: gray; font-size: 12px;") (if you unmark this checkbox, only your county and country will be visible)

                    div(layout='', layout-sm='column')
                        button.btn.mb-sm.btn-labeled.btn-danger(ng-click="ctrl.deleteMyAccount()" style="margin: 0 0 0 auto;")
                            span.btn-label
                                em.fa.fa-close
                            span Delete my account
                    div(style="clear: both;")
